body,
html {
	margin:6;
	padding:0;
	color:#000;
	background:#fff;
}
table
{ 
  float: left;
 margin-left: auto;
 margin-right: auto;
}
div.login {
	font:15px arial,sans-serif;	
	text-align: center;
	border: gray solid 3px;
	border-radius: 4px;
	background: #fffaf6;
	width: 340px;
	margin: 60px auto 30px;
  margin-left:-170px;
  left:50%;
	padding: 15px;
	position: absolute;
	box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}
div#gantt {
  display:none;
  height: 200px
}
div#highchart {
  display:none;
  height: 400px
}
span.gaugetext {
	font: 12px sans-serif;
	font-weight: bold;
}
div#gauge-container {
  float: left;
  margin: 4px;
    padding: 5px;
}
div#gaugewrapper {
  display: inline-block;
  background: #fff; 
  font: 12px sans-serif;
  text-align: center;
  float: left;
  margin: 4px;
  
}
div.gauge {
	width: 120px;
	height: 120px;
}
div#weather {
  padding: 5px;
    text-align: center;
  font: 10px sans-serif;
  overflow:hidden;
}
div.sleep_variables-container {
  float: left;
  font: 12px sans-serif;
  overflow:hidden;
  margin-top: 10px;
}
div.sleep_variables {
  margin: 4px;
    text-align: center;
  padding: 5px;
  float: left;
  background: #fff;
  display: inline-block;
}
div#analysis-container {
  text-align: center;
  width: 300px;
  margin-top: 10px;
  margin: 4px;
  float: left;
  background: #fff; 
  font: 12px sans-serif;
  overflow:hidden;
}
div.weather_variables-container {
  margin-top: 10px;
  float: left;
  font: 12px sans-serif;
  overflow:hidden;
}
div.weather_variables {
  margin: 4px;
    padding: 5px;
      text-align: center;
  float: left;
  background: #fff; 
  overflow:hidden;
  display: inline-block;
}
div.activity_variables {
  margin: 4px;
  font: 12px sans-serif;
  text-align: center;
  overflow:hidden;
  display: inline-block;
}
div#activity_variables {
  width: 300px;
  background: #fff;
    padding: 5px;
  text-align: center;
  margin: 4px; 
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
div#activity_variables_table {
  width: 300px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div#activity_piechart {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
div.activity_piechart {
  width: 300px;
  background: #fff;
    padding: 5px;
  text-align: center;
  margin: 4px;
  display: inline-block;
}
div.activity_piechart_table {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
td.activity_name {
  text-align: left;
}
td.activity_value {
  font-weight: bold;
  text-align: right;
}
div.calendar_events-container {
  text-align: center;
  margin: 4px;
  float: left;
  font: 12px sans-serif;
  overflow:hidden;
}
div.calendar_events {
  margin-top: 10px;
  text-align: center; 
  display: inline-block;
  width: 300px;
  margin: 4px;
    padding: 5px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}
td.cal_start{
  font-weight: bold;
}
td.cal_end{
  font-weight: bold;
}
td.cal_summary{
  width: 170px;
  text-align: right;
}
td.cal_empty{
  text-align: center;
}
table.sleepdata_table{
  margin-left: 20px;
  margin-right: 20px;
}
td.sleepdata_name {
text-align: left;
}
td.sleepdata_value {
  font-weight: bold;
  text-align: right;
}
td.weatherdata_name {
text-align: left;
}
td.weatherdata_value {
  font-weight: bold;
  text-align: right;
}
