body,
html {
	margin:6;
	padding:0;
	color:#000;
	background:#fff;
}
div.gauge {
  text-align: center;
	border-radius: 8px;
	float:left;
	width: 160px;
	height: 128px;
	border: gray solid 1px;
}
div.biggauge {
  text-align: center;
	border-radius: 15px;
	float:left;
	width: 280px;
	height: 224px;
	border: gray solid 1px;
}
span.biggaugetext {
	font:14px arial,sans-serif;
	text-align: center;
	font-weight: bold;	
}
span.gaugetext {
	font:12px arial,sans-serif;
	text-align: center;
	font-weight: bold;	
}
/*
@media screen and (max-width: 400px) {
	div.gaugetext {
		font:15px arial,sans-serif;
		font-weight: normal;	
		text-align: center;
		height: 2em;
		border: gray solid 1px; 
	}
	div.gauge {
		float:left;
		width: 120px;
		height: 96px;
		border: gray solid 1px;
		display: inline-block;
	}
	div.biggauge {
		float:left;
		width: 240px;
		height: 192px;
		border: gray solid 1px;
	}
}
*/
div.linegraph {
	float:left;
	border: gray solid 1px;
	padding: 2px;
	margin: 2px;	
	border-radius: 15px;
	display: block;
}
div.graphselect {
	font:15px arial,sans-serif;	
	text-align: right;
	padding: 0 25px 0 0;
	display: inline; // force inline
	float: right;
}
div.graphtext {
	font:20px arial,sans-serif;
	text-align: center;
	font-weight: bold;
	position: relative;
	left: 4%;
	float: left;
	display: inline-block;
}
div.login {
	font:15px arial,sans-serif;	
	text-align: center;
	border: gray solid 3px;
	border-radius: 4px;
	background: #fffaf6;
	width: 340px;
	margin: 60px auto 30px;
  margin-left:-170px;
  left:50%;
	padding: 15px;
	position: absolute;
	box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}
