body,
html {
	margin:6;
	padding:0;
	color:#000;
	background:#fff;
}
table
{ 
margin-left: auto;
margin-right: auto;
}
div.login {
	font:15px arial,sans-serif;	
	text-align: center;
	border: gray solid 3px;
	border-radius: 4px;
	background: #fffaf6;
	width: 340px;
	margin: 60px auto 30px;
  margin-left:-170px;
  left:50%;
	padding: 15px;
	position: absolute;
	box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}
div#gantt {
  display:none;
  height: 200px
}
div#highchart {
  display:none;
  height: 400px
}
span.gaugetext {
	font: 12px sans-serif;
	font-weight: bold;
}
div#gaugewrapper {
/*	display:inline-block; */
  background: #fff; font: 12px sans-serif;
  text-align: center;
  float: left;
  width: 120px;
  margin: 4px;
}
div.gauge {
	width: 120px%;
	height: 120px;
}
div#weather {
  padding: 5px;
  background: #fff; font: 10px sans-serif;
  overflow:hidden;
}
div.sleep_variables {
  text-align: center;
  width: 300px;
  margin: 4px;
  padding: 10px;
  float: left;
  background: #fff; font: 12px sans-serif;
  overflow:hidden;
}
div.weather_variables {
  text-align: center;
  margin-top: 10px;
  width: 300px;
  padding: 10px;
  margin: 4px;
  float: left;
  background: #fff; font: 12px sans-serif;
  overflow:hidden;
}
div.activity_variables {
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: 4px;
  float: left;
  background: #fff; font: 12px sans-serif;
  overflow:hidden;
}
td.activity_name {
  text-align: left;
}
td.activity_value {
  font-weight: bold;
  text-align: right;
}
div.calendar_events-container {
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: 4px;
  float: left;
  background: #fff; font: 12px sans-serif;
  overflow:hidden;
}
div.calendar_events {
  margin-top: 10px;
}
td.cal_start{
  font-weight: bold;
}
td.cal_end{
  font-weight: bold;
}
td.cal_summary{
  width: 170px;
  text-align: right;
}
td.cal_empty{
  text-align: center;
}
table.sleepdata_table{
  margin-left: 20px;
  margin-right: 20px;
}
td.sleepdata_name {
text-align: left;
}
td.sleepdata_value {
  font-weight: bold;
  text-align: right;
}
td.weatherdata_name {
text-align: left;
}
td.weatherdata_value {
  font-weight: bold;
  text-align: right;
}
div#bullet-chart-wrapper{
	overflow:hidden;
	float: left;
	margin: 4px;
	width: 480px;
}
div.bullet-chart{
	overflow:hidden;
	float: left;
	margin: 4px;
	width: 480px;
}
.bullet { background: #fff; font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s1 { fill: lightsteelblue; }
.bullet .measure.s0 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .bulletvalue { font-size: 14px; font-weight: bold; fill: #333;}
.bullet .subtitle { fill: #999; }
